.wrapper {
  padding-top: 10px;
  text-align: center;
}

.button {
  border: none;
  color: white;
  background-color: #27adf1;
  padding: .5em 1em;
}

h1.sansserif {
  font-family: Helvetica, Arial, sans-serif;
  color: #27adf1;
  font-weight: lighter;
  text-shadow: 2px 1px 2px #aaaaaa;
}

.container {
  border: 1px solid #27adf1;
  background-color: #27adf1;
  color: white;
}
